* {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}
.picture-square {
  display: inline-block;
  width: 30%;
  height: auto;
  align-items: center;
}
.banner {
  height: 200px;
  border: 2px solid red;
}
.product-counter {
  height: 150px;
  border: 2px solid red;
}
.banner {
  background-image: url(img/busmaul.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  position: fixed;
}
