* {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}
.picture-square {
  display: inline-flex;
  width: 30%;
  height: 30%;
  align-items: center;
  border: 2px solid red;
  margin-top: 200px;
  margin-right: 10px;
  margin-left: 13px;
}
.product-display {
  border: 2px solid red;

}
.banner {
  height: 200px;
  border: 2px solid red;
}
.product-counter {
  height: 150px;
  border: 2px solid red;
}
.banner {
  background-image: url(img/busmaul.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  position: fixed;
}
